$palette:(
    'color1' : #000000,
    'navColor' :#F3E901,
    'mainColor1' : #08b5ef,
    'mainColor2' : #e5ff00,
    'mainColor3' : #ffffff,
);

$font1: 'zen dots';
$font2: 'Zilla Slab Highlight';
$font3: 'Bebas Neue';