@import './variables';

*{
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
}

body{
    background-color: map-get($map: $palette , $key: 'color1');
 
    
}  

nav{
    background-color: map-get($map: $palette , $key: 'navColor');

        a{
        font-family: $font1;
        
        }
}
header div p {
    font-family: $font1;
}


main div p {
    font-family: $font2;
    font-size: 18px;
    font-style:normal;
}

.rotate{
    transform: rotate(-180deg);
}

.gif{
    overflow: hidden;
    width: 220px;
    height: 288px;
}

footer{
    font-family: $font1;
    font-size: 10px;
}


@media (min-width: 576px){
    main div p{
        font-size: 35px;
      
    }
    footer {
        font-size: 20px;
    }
    header{
        font-size: 30px;
    }
}

@media (min-width: 991.98px){
    .border-lg-none {border-bottom: 0ch;}

    main div p{
        font-size: 45px;
      
    }
    footer {
        font-size: 15px;
    }
    header{
        font-size: 30px;
    }
    aside{
        font-size: 30px;
    }
}

#dios {
    color: map-get($map: $palette , $key: 'mainColor1');
}
#jesus{
    color: map-get($map: $palette , $key: 'mainColor3');
}
#jesusEsVida {
    color: map-get($map: $palette , $key: 'mainColor1');
}
#luz{
    color: map-get($map: $palette , $key: 'mainColor2');
}

#alert{
    font-family: $font3;

}


