@import './variables';
@import './animaciones';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: map-get($map: $palette , $key: 'color1');
    
}  

nav{
    background-color: map-get($map: $palette , $key: 'navColor');
    font-size: 15px;


    h1{
        font-family: $font1;  
        color: map-get($map: $palette , $key:'color1' );
        font-size: 20px;
        
      
      
     
    }

        a{
        font-family: $font1;
        text-decoration: none;
     
        
        }
}
header div p {
    font-family: $font1;
}


main div p {
    font-family: $font2;
    font-size: 18px;
    font-style:normal;
}

.rotate{
    transform: rotate(-180deg);
}

.gif{
    overflow: hidden;
    width: 220px;
    height: 288px;
}

footer{
    font-family: $font1;
    
    font-size: 10px;
}

.ancho{
    width: 50%;
}

.ancho2{
    width: 50%;
}

html, body{
    height: 100%;
    margin:0px;
    padding: 0px;
  }
  #particles-js{
    width: 100%;
    height: 100%;
    background: #111111;
  }



@media (min-width: 576px){
    main div p{
        font-size: 35px;
      
    }
    footer {
        font-size: 15px;
    }
    header{
        font-size: 30px;
    }
}

@media (min-width: 991.98px){
    .border-lg-none {border-bottom: 0ch;}

    main div p{
        font-size: 45px;
      
    }
    footer {
        font-size: 15px;
    }
    header{
        font-size: 30px;
    }
    aside{
        font-size: 30px;
    }
    .ancho{
        width: 25%;
        }
    .ancho2{
    width: 100%;
}    

}



#dios {
    color: map-get($map: $palette , $key: 'mainColor1');
}
#jesus{
    color: map-get($map: $palette , $key: 'mainColor3');
}
#jesusEsVida {
    color: map-get($map: $palette , $key: 'mainColor1');
}
#luz{
    color: map-get($map: $palette , $key: 'mainColor2');
}
#obscuridad{
    color: map-get($map: $palette, $key:'mainColor4');
}

#alert{
    font-family: $font3;

}


