body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}

/*funte*/
.fnt {font-family: "zen dots";}

.gif{
overflow: hidden;
width: 200px;
height: 300px;
}

.light{
    color: white;
}


.rotate{
    transform: rotate(-180deg);
}

.fondoFooter{
    background-image: url("/assets/img/Vector.svg");
}

